@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.payment_container {
  background-color: #fff;
  width: 35%;
  margin: 0px;
  border-radius: 8px;
  padding: 17px 12px;
}

.stages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.circle-button {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 100%;
  background: linear-gradient(122deg, #0096ff 42.14%, #0048ff 96.7%);
  outline: none;
  border: none;
}

.circle-button p {
  margin: 0;
  color: #fff;
}

.button_task p {
  color: #3c4852;
  font-size: 10px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 2px;
}
