@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.payment_container {
  background-color: #fff;
  width: 35%;
  margin: 0px;
  border-radius: 8px;
  padding: 17px 12px;
}

.stages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.circle-button {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 100%;
  background: linear-gradient(122deg, #0096ff 42.14%, #0048ff 96.7%);
  outline: none;
  border: none;
  cursor: pointer;
}

.circle-button p {
  margin: 0 !important;
  color: #fff;
}

.button_task p {
  color: #3c4852;
  font-size: 10px !important;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin: 2px !important;
}

.payment_container p {
  color: #3c4852;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0px;
}

.payment_container .razorpay {
  display: flex;
  flex-direction: row;
  margin: 14px 0px 0px 0px;
}

.payment_container .razorpay img {
  width: 60px;
  height: 21px;
}
