@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.payment_container {
  background-color: #fff;
  width: 35%;
  margin: 0px;
  border-radius: 8px;
  padding: 17px 12px;
}

.stages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.circle-button {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 100%;
  background: linear-gradient(122deg, #0096ff 42.14%, #0048ff 96.7%);
  outline: none;
  border: none;
  cursor: pointer;
}

.circle-button p {
  margin: 0 !important;
  color: #fff;
}

.button_task p {
  color: #3c4852;
  font-size: 10px !important;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin: 2px !important;
}

.payment_container p {
  color: #3c4852;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0px;
}

.payment_container .razorpay {
  display: flex;
  flex-direction: row;
  margin: 14px 0px 0px 0px;
}

.payment_container .razorpay img {
  width: 60px;
  height: 21px;
}

.utility_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.utility_buttons button {
  border-radius: 4px;
  outline: none;
  width: 50%;
  cursor: pointer;
}

.utility_buttons .cancle_button {
  border: 2px solid #ff0000;
  background: transparent;
  margin: 11px 5px 11px 0px;
  padding: 5px 31px;
}

.utility_buttons .cancle_button p {
  color: #ff0000;
  padding: 3px 10px;
  font-size: 10px;
  margin: 0;
}

.utility_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.utility_buttons .proceed_button {
  border: transparent;
  background: #47ba68;
  margin: 11px 0px 11px 5px;
  padding: 8px 23px;
}

.utility_buttons .proceed_button p {
  color: #fff;
  padding: 3px 10px;
  font-size: 10px;
  margin: 0;
}
